<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .wrapper-btns {
    margin-top: 15px;
}
paper-button.link {
    color: #757575;
}
    </style>

<iron-ajax
id="registerLoginAjax"
method="post"
body="{{formData}}"
content-type="application/json"
handle-as="json"
on-response="handleUserResponse"
on-error="handleUserError">
</iron-ajax>

<div class="card">
      <div id="unauthenticated">
          <h1>Log In</h1>

      <p><strong>Log in</strong> or <strong>sign up</strong> to access secret Chuck Norris quotes!</p>

      <paper-input-container>
        <label slot="input">Username</label>
        <iron-input slot="input" bind-value="{{formData.username}}">
          <input id="username" type="text" value="{{formData.username}}" placeholder="Username">
        </iron-input>
      </paper-input-container>

      <paper-input-container>
        <label>Password</label>
        <iron-input slot="input" bind-value="{{formData.password}}">
          <input id="password" type="password" value="{{formData.password}}" placeholder="Password">
        </iron-input>
      </paper-input-container>

      <div class="wrapper-btns">
        <vaadin-button>
          <iron-icon icon="lumo:edit" slot="prefix"></iron-icon>
          Loging
        </vaadin-button>
        <paper-button class="link" on-tap="postRegister">Sign Up</paper-button>
      </div>
  </div>
</div>
<template is="dom-if" if="[[error]]">
  <p class="alert-error"><strong>Error:</strong> [[error]]</p>
</template>


  </template>
  

  <script>
    class MyLogin extends Polymer.Element {
            static get is() { return 'my-login'; }
            static get properties() {
          return {
            formData: {
              type: Object,
              value: {}
            }
          }
        }


        _setReqBody() {
          this.$.registerLoginAjax.body = this.formData;
        }

        postLogin() {
          this.$.registerLoginAjax.url = 'http://localhost:3000/colapi/v1/login';
          this._setReqBody();
          this.$.registerLoginAjax.generateRequest();
        }

        postRegister() {
          this.$.registerLoginAjax.url = 'http://localhost:3000/colapi/v1/users';
          this.$.registerLoginAjax.url = '';
          this._setReqBody();
          this.$.registerLoginAjax.generateRequest();
        }
        handleUserResponse(event) {
        var response = JSON.parse(event.detail.response);

        if (response.id_token) {
          this.error = '';
          this.storedUser = {
            name: this.formData.username,
            id_token: response.id_token,
            access_token: response.access_token,
            loggedin: true
          };
        }

        // reset form data
        this.formData = {};
      }

      handleUserError(event) {
        this.error = event.detail.request.xhr.response;
      }

    }

    

    window.customElements.define(MyLogin.is, MyLogin);
  </script>
</dom-module>
