<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
      <iron-ajax
      auto
      url="http://localhost:3000/colapi/v1/accounts"
      handle-as="json"
      last-response="{{ajaxResponse}}"
      >
</iron-ajax>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .half{
          width:50%;
      }
      .rela{
        position: relative;
        margin-left:80%;
      }
      .primary{
        background-color: #0097A7;
        border:none;
        color:white;
      }

      .primary a{
            text-decoration: none;
            color: white;
      }
     
    </style>

    <template is="dom-repeat" items="[[ajaxResponse]]">
       
            <div class="card">   
               
            <div class="half">    
              <h1>Available :$ [[item.balance]]</h1>
              <p>[[item.IBAN]]</p>
            </div>

            <div class="half rela">
                <paper-button class="btn primary" on-tap="getMovementsById" data-product$="[[item._id.$oid]]">Movements</paper-button>
            </div>
       

        
    </div>
    </template>
  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
   

      getMovementsById(e){
       // this.account = e.target.dataset.product;
        let path = "http://127.0.0.1:8081/view3/"+e.target.dataset.product;
        window.location.href=path;
      }


    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>

