  <link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/iron-data-table/iron-data-table.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-view3">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .table-header{
          background-color: #424242;
      }


    </style>
<h>Movements</h1>
    <div class="card">
        <dom-bind>
            <template is="dom-bind">
              <!-- Fetch an array of users to be shown in the grid -->
              <iron-ajax auto url="http://localhost:3000/colapi/v1/movements/5b0dcb1265307c5df959802c" handle-as="json" last-response="{{data}}"></iron-ajax>
          
              <!-- The array is set as the <vaadin-grid>'s "items" property -->
              <vaadin-grid aria-label="Basic Binding Example" items="[[data]]">
          
                <vaadin-grid-column width="50px" flex-grow="0">
                  <template class="header">#</template>
                  <template>[[index]]</template>
                </vaadin-grid-column>
          
                <vaadin-grid-column>
                  <template class="header">
                    <span draggable="true">
                      Description
                    </span>
                  </template>
                  <template>
                    <span draggable="true">
                      [[item.descripcion]]
                    </span>
                  </template>
                  
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">
                      <span draggable="true">
                        Amount
                      </span>
                    </template>
                    <template>
                      <span draggable="true">
                        [[item.importe]]
                      </span>
                    </template>
                    
                  </vaadin-grid-column>
          
                <vaadin-grid-column>
                  <template class="header">Time</template>
                  <template>[[item.time]]</template>
                </vaadin-grid-column>
          
              </vaadin-grid>
            </template>
          </dom-bind>
          <div class="wrapper-btns">
              <vaadin-button on-click="goBack" theme="success primary">
               Back
                
              </vaadin-button>
                 
            </div>
    </div>
  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-view3'; }

         static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      goBack(){
        window.location.href = "http://127.0.0.1:8081/view2";
      }
    }

    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>
